body {
    background: #f9f9f9;
    overflow-x: hidden;
}

header {
    top: 0;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.scene img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}