* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    scroll-behavior: smooth;
}

body {
    background-color: #20232a;
    color: #333;
}

section {
    min-height: 100vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    outline: none;
    transition: .3s ease;
}

a:hover {
    /* color: #333; */
    font-size: 24px;
    /* background-color: orange; */
}
/* top */

header {
    position: fixed;
    padding: 0 2rem;
    width: 100%;
    border-radius: 20px;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    background-color: #20232a;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    transition: .3s ease;
}

.logo a:hover {
    text-decoration: none;
    font-size: 20px;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}


.toggle {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 20px;
    z-index: 1000;
    display: none;
}
/* dropdown */

.dropdown {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    color: #ffffff;
    background: #20232a;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown.open {
    height: 240px;
}
.dropdown li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* response */

@media (max-width: 992px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle {
        display: block;
    }

    .dropdown {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown {
        left: 2rem;
        width: unset;
    }
}