/* styles.css */

/* General Styles */
body {
    margin: 0;
    color: #fff;
}

a {
    color: #61dafb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

/* Main Section Styles */
main {
    padding: 1em;
}

section {
    margin-bottom: 2em;
    min-height: 100vh; /* Ensuring each section has a minimum height of 100vh */
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #61dafb, #282c34);
    text-align: center;
}

#home p {
    margin: 0;
}

#home a {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #20232a;
    color: #61dafb;
    border-radius: 0.5em;
    font-size: 1.2em;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#projects .wrapper {
    
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 1em;
}

#projects .project {
    background-color: #20232a;
    padding: 1em;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 0.5em;
    text-align: center;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contact a {
    display: inline-block;
    margin: 0.5em 1em 0.5em 0;
    padding: 0.5em 1em;
    background-color: #20232a;
    color: #61dafb;
    border-radius: 0.5em;
    text-align: center;
}

/* about */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle {
        display: block;
    }

    .dropdown {
        display: flex;
    }

    .navbar .toggle i.bx-x {
        position: absolute;
        right: 1em;
    }
}

@media (max-width: 480px) {
    #home {
        padding: 1em;
        text-align: center;
    }

    #home .big {
        font-size: 2em;
    }

    #home b {
        font-size: 1em;
    }

    #home a {
        font-size: 1em;
    }

    #projects .wrapper {
        grid-template-columns: 1fr;
    }
}
